body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url('https://img.freepik.com/free-photo/soccer-field-high-angle_23-2150405432.jpg?size=626&ext=jpg&ga=GA1.1.2017528900.1714906872&semt=ais_user');
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}
